Repository sRect/2019-nCov-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,json,md}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "src/**/*.{css,less}": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ]
}

feat: :construction: 首页布局
  .all-contributorsrc
  config/webpack.config.js
  package.json
  public/index.html
  src/App.js
  src/components/Areastat/index.js
  src/components/Bar/index.js
  src/components/Foo/index.js
  src/components/Foo/store/actionTypes.js
  src/components/Foo/store/actions.js
  src/components/Foo/store/index.js
  src/components/Foo/store/reducer.js
  src/components/Foo/store/state.js
  src/components/ListByCountryTypeService2true/index.js
  src/components/TestComponent/index.js
  src/components/TestStyleComponents/index.js
  src/components/TestStyleComponents/style.js
  src/pages/About/index.js
  src/pages/Home/home.less
  src/pages/Home/index.js
  src/pages/ModelShow/index.js
  src/routes/index.js
  src/store/reducer.js
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat: :construction: 数据获取进行中
  config/webpack.config.js
  package.json
  src/api/request.js
  src/components/Areastat/index.js
  src/components/Table/index.js
  src/components/Table/style.js
  src/config/index.js
  src/pages/Home/index.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: :wrench: CHANGELOG.md CONTRIBUTING.md
   CONTRIBUTING.md
  .all-contributorsrc
  CHANGELOG.md
Due: none

feat: :construction: 国内疫情数据获取展示
  .browserslistrc
  config/webpack.config.js
  src/components/Areastat/index.js
  src/components/ListByCountryTypeService2true/index.js
  src/components/Table/index.js
  src/components/Table/store/actionTypes.js
  src/components/Table/store/actions.js
  src/components/Table/store/index.js
  src/components/Table/store/reducer.js
  src/components/Table/store/state.js
  src/pages/Home/index.js
  src/pages/Home/store/reducer.js
  src/pages/Home/store/state.js
  src/store/reducer.js
Due: eslint --fix, prettier --write

style: :construction: add LICENSE
  LICENSE
  src/config/index.js
Due: eslint --fix, prettier --write

feat: :construction: 初步打造Scroll组件
  package.json
  src/baseUI/Scroll/index.js
  src/baseUI/Scroll/style.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: :construction: Scroll组件的打造和使用
  config/webpack.config.js
  src/baseUI/Scroll/index.js
  src/components/Table/index.js
  src/components/Table/style.js
Due: eslint --fix, prettier --write

feat: :construction: perf
  public/index.html
  src/api/request.js
  src/components/ListByCountryTypeService2true/index.js
  src/components/Table/index.js
  src/components/Table/store/state.js
Due: eslint --fix, prettier --write

ci: :construction_worker: github actions
  .github/workflows/ci.yml
  package.json
Due: none

ci: :green_heart: fix ci
  .github/workflows/ci.yml
Due: none

Deploying to gh-pages from @ 676b6b1c9ed2a32d701ee9d5155b1052b52e9e5a 🚀
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  precache-manifest.a7a7c5642fe3913993344bcab2d37042.js
  robots.txt
  service-worker.js
  static/css/1.98187c28.chunk.css
  static/css/8.49610695.chunk.css
  static/css/9.47e33d5f.chunk.css
  static/css/9.47e33d5f.chunk.css.gz
  static/js/0.c7bb2101.chunk.js
  static/js/0.c7bb2101.chunk.js.gz
  static/js/1.aa64ce09.chunk.js
  static/js/1.aa64ce09.chunk.js.LICENSE.txt
  static/js/1.aa64ce09.chunk.js.gz
  static/js/8.6967f5e9.chunk.js
  static/js/8.6967f5e9.chunk.js.LICENSE.txt
  static/js/8.6967f5e9.chunk.js.gz
  static/js/9.a925cd33.chunk.js
  static/js/9.a925cd33.chunk.js.gz
  static/js/about.f4254b05.chunk.js
  static/js/areastat.bc870a1a.chunk.js
  static/js/home.7affae56.chunk.js
  static/js/listByCountryTypeService2true.2e56e99b.chunk.js
  static/js/main.116c81cd.chunk.js
  static/js/runtime-main.b826330c.js
Due: none
